body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('https://fsmedia.imgix.net/9d/2c/c8/ed/b229/48a4/8afc/d997d7fc94aa/daenerys-targaryen-tyrion-lannister-and-dragonsrhaegal-and-viserion-game-of-thrones.png');
	font-family: Vollkorn SC;
	color: #FFFFFF;
	font-size: 30px;
}
#quoteText {
	position: absolute;
	top: 300px;
	right: 300px;
	width: 900px;
	height: 300px;
}
#quoteButton {
	position: absolute;
	top: 575px;
	right: 150px;
}
h1 {
	font-size: 60px;
}